@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, rgba(0, 128, 105, 0.7), rgba(0, 128, 105, 0.6)), url("https://img.freepik.com/free-vector/colorful-3d-background_23-2148484152.jpg?w=996&t=st=1720004289~exp=1720004889~hmac=e8be3d03606b0fd5c3e635ffc196706fe363259044f0c24827f568d42739a9ee");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width:6px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #1b1b1b;
  border-radius: 10px;
}